/* Reset */

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
html,
body {
	height: 100%;
}
body, 
form {
    margin: 0;
    font: 1.2em/1.3em 'Script','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto-Light', 'Roboto Light', 'Roboto', 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', Helvetica, Arial, sans-serif;
}

/* Base Styles */

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {   
	background: linear-gradient(150deg, #bacdcd, #119466);
	background-attachment: fixed; 
    color: #212121;
    padding-top: 100px;
}



header {
    min-height: 100px;
    overflow: hidden;
	text-align: center;
	line-height: .5;
}

a {
	text-decoration: none;
}
nav {
	position: fixed;
    bottom: 40px;
    width: 100%;
    text-align: center; 
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 10%,rgba(0,0,0,0.75) 100%);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 10%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 10%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.7) 10%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(top, rgba(0,0,0,0.7) 10%,rgba(0,0,0,0.5) 100%);
	max-height: 60px;
	/* align content to the center */
	display: flex;
	align-items: center;
	justify-content: center;
}
nav img{	
	max-width: 25%;
	max-height: 30%;
	margin: 5%;
	fill: #fff;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
footer {
    padding: 3em 1em 1em;
    font-size: 0.75em;
    text-align: right;
}
*[hidden] { /* required for the browsers lacking the 'hidden' attribute support. IE10 */
	display: none;
}

/* First Time run */

#firstrun {
    position: fixed;
    bottom: 150px;
    text-align: center;
    width: 100%;
    font-size: 24px;
	background: #f3f3f3;
	padding-bottom: 100%;
	margin-bottom: -100%; /* positive padding, neg margin makes the div background span full page */
}
.arrow-container {
	background: url(../images/cover-photo.jpg) center bottom no-repeat;
	background-size: auto 100%;	
	width: 100%;
	height: 450px; /* change dynamically */

}

/* Main Pane */

#main {
	position: relative;
}
#main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-height: 75px;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
  }
  
  #main-header h1 {
	font-size: 1.4em;
	margin: 0;
	overflow: hidden;
	text-align: center;
  }
  
  #main-header p {
	font-family: fantasy;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
  }

#main-content {
	font-size: medium;
	text-align: center;
	margin: 0;
}
#warnings {
	position: absolute;
	top: 3em;
	right: 0;
	color: #fff;
	margin-left: 1em;
	z-index: 1;
	cursor: pointer;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

}
#warnings a {
	color: #ffd900;
}
.icon-warning {
	margin-bottom: 5px;
	padding: .5em 1em .7em .5em;
	text-align: right;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.icon-warning span {
	font-size: 0;
	opacity: 0;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.icon-warning.full {
	background-color: rgba(0, 0, 0, .5);
}
.icon-warning.full span {
	font-size: 1em;
	opacity: 1;
}
#main nav {
	width: 100%;
	max-height: 50px;
}
.camera {
	margin: 0 auto;
	height: 110px;
	width: 110px;
	border-radius: 50%;
	background: #393939;
	border: 1px solid #333;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.5);
    position: relative;
}
.camera:hover { /* :active doesn't work on android/chrome */
	background: #03A65B;
}
.camera.no-support:hover {
	background: #393939;
	pointer-events: none;
}

#filePickerContainer {
    text-align: center;
}

/* Form Elements */

label {
    font-size: 1.2em;
    padding-bottom: .5em;
    display: block;
}
input,
textarea,
select,
button {
    display: inline-block;
    font-family: inherit;
    font-size: 20px;
}
button,
input[type="button"] {
	-webkit-appearance: none;
	appearance: none;
    padding: 8px 24px;
    margin-right: 10px;
    border-radius: 6px;
    vertical-align: middle;    
    color: #fff;
    text-shadow: 1px 0 0 #333;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    background-color: #03A65B;
}
button:disabled,
input:disabled {
	opacity: .5;
}
button:enabled:active,
input[type="button"]:enabled:active {
    box-shadow: inset 0 4px 4px rgba(0,0,0,0.25);
    outline: 0;
}
button.dismiss,
input[type="button"].dismiss {
    color: #fff;
    text-shadow: 1px 0 0 #333;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    background-color: #03A65B;
}
.action-buttons {
	text-align: center;
	margin: .5em auto;
}

.center-button {
	/*center the button*/
	display: flex;
    justify-content: center;
    align-items: center;
}

#reload-button {
    background-color: #03A65B;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: .7em;
    margin: 10px 2px;
    cursor: pointer;
	box-shadow:  0 4px 4px rgba(0,0,0,0.25);
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
}
/* Add a spinner class to the div inside the button */

.spinner {
    display: flex;
	border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.8s linear infinite;
    display: none; /* initially hide it */
}

/* Animation for the spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Photo */
#photoCrop, #photoEffect {
	height: 100%;
	background-color: #342f2f;
}

#userPhotoContainer, #photoResultContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
}

#resultPhoto, #croppedPhoto, #filteredPhoto {
    width: auto;
    height: auto;
}

h2.label {
    color: #333;
    font-weight: normal;
}
.photoCropControls {
    width: 100%;
    position: fixed;
	bottom: 0;
}
#fileinfo {
    color: #fff;
    font-size: 0.7em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.75);
	margin-left: .5em;
}
#loader {
    width: 200px;
    height: 200px;
    line-height: 200px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
    border-radius: 12px;
    position: fixed;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
    z-index: 10;
}

/* Gallery Images */

#viewer {
	padding-top: 20px;
  }

img {
	display: block;
	margin: 0 auto;
	border: 0;
}

figure {
	margin: 0;
	padding: 0;
}
#thumbnails {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin: 0 auto;
	max-width: 75%;
  }
  
  .thumbnail-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .thumbnail-wrapper img {
	max-width: 100%;
	max-height: 100%;
	/*add border to the thumbnails*/
	border: 2px solid #CFB882;
	border-radius: 5%;
	padding: 1px;
	/*add box shadow to the thumbnails*/
	box-shadow: 0 0 8px #000;
  }

/* Filter Effects */

#filterDrawer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#filterButtons {
    text-align: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 .5em;
}
.filter {
    display: inline-block;
    margin: 3px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #000;
    height: 72px;
    width: 72px;
    cursor: pointer;
    background: url("../images/effects-thumbs.png") no-repeat 0 0;
    background-size: cover;
}
.filter:hover {
	box-shadow: 0 0 12px #03A65B;
}
.filter:first-of-type {
    background-position: 0 0;    
}
.filter:nth-of-type(2) {
    background-position: -73px 0;
}
.filter:nth-of-type(3) {
    background-position: -146px 0; 
}
.filter:nth-of-type(4) {
    background-position: -219px 0; 
}
.filter:nth-of-type(5) {
    background-position: -292px 0;
}
.filter:nth-of-type(6) {
    background-position: -365px 0;
}
.filter:nth-of-type(7) {
    background-position: -438px 0;
}
.filter:nth-of-type(8) {
    background-position: -511px 0;
}
.filter:nth-of-type(9) {
    background-position: -584px 0;
}

.filter-tag {
    color: #fff;
    font-size: .8em;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    padding-top: 58px;
}

/* Font Icons by IcoMoon.io */

@font-face {
	font-family: 'icons';
	src: url('fonts/icons.svg#icons') format('svg'),
		 url('fonts/icons.woff') format('woff'),
		 url('fonts/icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[data-icon]::before {
	font-family: 'icons';
	content: attr(data-icon);
	font-weight: normal;
	line-height: 1;
	padding-right: 0.5em;
	-webkit-font-smoothing: antialiased;
}
.camera::before {
	color: #fff;
	font-size: 45px;
	position: relative;
	top: 30px;
	left: 12px;
}

/* upload files to s3 */
.upload-button {
	display: inline-flex;
	position:fixed;
}

/*modal*/

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.615);
	z-index: 1;
  }
  
  .modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 60%;
	overflow: auto;
	background: #CFB882;
  }
  
  .modal-content img {
	width: 100%;
	height: 100%;
	object-fit: contain;
  }
  